# Dependencies
node_modules/
.pnpm-store/

# Production build outputs
dist/
build/
.output/

# Environment files (IMPORTANTE: non caricare secret/chiavi su GitHub)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs & System files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db
*.log

# IDE & Editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
